includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    fileExtensions:
        - php
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#::quoteIdentifier() expects string, string|null given#'
        - '#Access to an undefined property object::\$parent#'
        - '#Method P3\Db\Db::fetchOne() should return array|null but returns array|object|null#'
