parameters:
    fileExtensions:
        - php
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Method P3\\Db\\Db\:\:pdo\(\) should return PDO but returns PDO\|null#'
        - '#Method P3\\Db\\Db\:\:fetchOne\(\) should return array\|null but returns array\|object\|null#'
        - '#Access to an undefined property object\:\:\$parent#'
        - '#Calling method getTypes\(\) on possibly null value of type P3\\Db\\Sql\\Params\|null#'
        - '#Calling method getValues\(\) on possibly null value of type P3\\Db\\Sql\\Params\|null#'
        - '#Cannot call method getTypes\(\) on P3\\Db\\Sql\\Params\|null#'
        - '#Cannot call method getValues\(\) on P3\\Db\\Sql\\Params\|null#'
        - '#Oci\:\:quoteIdentifier\(\) expects string\, string\|null given#'
        - '#Strict comparison using === between string and false will always evaluate to false#'
        - '#Parameter \#1 \$identifier of method P3\\Db\\Sql\\DriverInterface\:\:quoteIdentifier\(\) expects string, string\|null given.#'
        - '#no value type specified in iterable type#'
        - '#\:\:\$table is not writable#'
        - '#\:\:\$where is not writable#'
        - '#Else branch is unreachable because ternary operator condition is always true#'
        - '#Parameter \#1 \$name of method PDO\:\:lastInsertId\(\) expects string, string\|null given#'
        - '#Call to function is_object\(\) with array\|string will always evaluate to false#'
        - '#Call to function is_string\(\) with mixed will always evaluate to false#'
        - '#Call to an undefined method object\:\:isEmpty\(\)#'
        - '#Method P3\\Db\\Db\:\:reconnect\(\) is unused#'
        - '#Method P3\\Db\\Sql\\Driver\:\:generateSelectSQL\(\) should return string but returns mixed#'
        - '#Unreachable statement \- code above always terminates#'
        - '#Method P3\\Db\\Db\:\:createPDO\(\) should return PDO but returns object#'
        - '#Parameter \#1 \$driver\_name of method P3\\Db\\Db\:\:createDriverFromName\(\) expects string, mixed given#'
        - '#Cannot cast mixed to int#'
        - '#Cannot access offset string on mixed#'
        - '#Method P3\\Db\\Command\\Select\:\:fetchScalar\(\) should return string\|null but returns mixed#'
        - '#Cannot access offset .* on mixed#'
        - '#Parameter.*of function sprintf expects bool\|float\|int\|string\|null, mixed given#'
